Repository ByBren-LLC/rendertrust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cheddarfox, @cheddarfox/auggie, @cheddarfox/claude-code

feat(storage): add S3-compatible object storage service [REN-102]
  core/storage/__init__.py
  core/storage/config.py
  core/storage/service.py
  pyproject.toml
  tests/test_storage_service.py
Owners: @cheddarfox

fix(storage): add extra=ignore to StorageSettings to prevent env var conflicts [REN-102]
  core/storage/config.py
Owners: @cheddarfox

feat(edgekit): add CPU worker plugins (echo, benchmark) [REN-101]
  edgekit/workers/plugins/__init__.py
  edgekit/workers/plugins/cpu.py
  tests/test_cpu_plugin.py
Owners: @cheddarfox

feat(api): add job result download endpoint with presigned URLs [REN-103]
  core/api/v1/jobs.py
  tests/integration/test_job_result.py
Owners: @cheddarfox

fix(storage): address security audit findings for REN-102
  core/storage/config.py
  core/storage/service.py
  tests/test_storage_service.py
Owners: @cheddarfox

test(storage): add 33 integration tests for storage service [REN-104]
  tests/integration/test_storage_integration.py
Owners: @cheddarfox

feat(scheduler): add job retry and dead letter queue [REN-105]
  alembic/versions/0005_add_dead_letter_queue.py
  core/scheduler/models.py
  core/scheduler/retry.py
  tests/test_retry_service.py
Owners: @cheddarfox

feat(billing): add usage tracking and job pricing service [REN-107]
  alembic/versions/0006_add_job_pricing.py
  core/billing/models.py
  core/billing/usage.py
  tests/test_usage_service.py
Owners: @cheddarfox

feat(scheduler): add circuit breaker for node failure detection [REN-106]
  core/scheduler/circuit_breaker.py
  tests/test_circuit_breaker.py
Owners: @cheddarfox

feat(billing): add payout cron service for node operator earnings [REN-108]
  core/billing/payout.py
  tests/test_payout_service.py
Owners: @cheddarfox

test(scheduler): add error handling and retry integration tests [REN-109]
  tests/integration/test_error_handling.py
Owners: @cheddarfox

feat(edgekit): add GPU metrics poller with relay transport [REN-113]
  edgekit/poller/metrics.py
  tests/test_gpu_metrics.py
Owners: @cheddarfox

feat(edgekit): add edge node Docker package and entrypoint [REN-110]
  docker-compose.edge.yml
  edgekit/Dockerfile
  edgekit/entrypoint.py
  edgekit/health.py
  tests/test_edge_docker.py
Owners: @cheddarfox

feat(scheduler): add auto-scale trigger for fleet load monitoring [REN-114]
  core/scheduler/autoscale.py
  tests/test_autoscale.py
Owners: @cheddarfox

feat(edgekit): add node registration CLI [REN-111]
  edgekit/cli/__init__.py
  edgekit/cli/register.py
  edgekit/cli/status.py
  tests/test_registration_cli.py
Owners: @cheddarfox

test(e2e): add full job execution E2E test [REN-112]
  tests/e2e/__init__.py
  tests/e2e/test_full_job.py
Owners: @cheddarfox

feat(infra): add Coolify production deployment configuration [REN-115]
  ci/coolify/Dockerfile.prod
  ci/coolify/docker-compose.coolify.yml
  ci/coolify/entrypoint.sh
  ci/coolify/env.template
  ci/coolify/setup-guide.md
Owners: @cheddarfox

feat(infra): add production Docker Compose with resource limits [REN-117]
  ci/coolify/docker-compose.override.example.yml
  docker-compose.prod.yml
Owners: @cheddarfox

feat(monitoring): add Loki logging stack with Promtail and Grafana [REN-119]
  ci/loki/README.md
  ci/loki/docker-compose.loki.yml
  ci/loki/grafana-datasources.yml
  ci/loki/loki-config.yml
  ci/loki/promtail-config.yml
Owners: @cheddarfox

feat(infra): add Cloudflare Tunnel config and DNS setup guide [REN-116]
  ci/cloudflare/docker-compose.tunnel.yml
  ci/cloudflare/setup-guide.md
  ci/cloudflare/tunnel-config.yml
  ci/cloudflare/waf-rules.json
Owners: @cheddarfox

feat(infra): add deploy script, GH Actions workflow, and migration runbook [REN-118]
  .github/workflows/rendertrust-deploy.yml
  ci/deploy.sh
  docs/operations/migration-runbook.md
Owners: @cheddarfox, @cheddarfox/auggie, @cheddarfox/claude-code

feat(monitoring): add Prometheus metrics endpoint and HTTP instrumentation [REN-120]
  core/main.py
  core/metrics.py
  pyproject.toml
  tests/test_metrics.py
Owners: @cheddarfox

feat(monitoring): add Grafana dashboards for API, jobs, and fleet health [REN-123]
  ci/grafana/dashboards/api-overview.json
  ci/grafana/dashboards/fleet-health.json
  ci/grafana/dashboards/job-throughput.json
  ci/grafana/prometheus.yml
  ci/grafana/provisioning/dashboards/dashboards.yml
  ci/grafana/provisioning/datasources/datasources.yml
  ci/loki/docker-compose.loki.yml
Owners: @cheddarfox

feat(dr): add disaster recovery runbook and backup scripts [REN-125]
  docs/dr/runbook.md
  scripts/backup-cron.sh
  scripts/backup-db.sh
  scripts/restore-db.sh
Owners: @cheddarfox/auggie, @cheddarfox/claude-code, @cheddarfox

feat(monitoring): add Prometheus alerting rules and notification config [REN-124]
  ci/grafana/alerts/README.md
  ci/grafana/alerts/grafana-contact-points.yml
  ci/grafana/alerts/prometheus-rules.yml
  ci/grafana/prometheus.yml
Owners: @cheddarfox

feat(storage): add AES-256-GCM data-at-rest encryption service [REN-122]
  core/config.py
  core/storage/__init__.py
  core/storage/encryption.py
  tests/test_encryption.py
Owners: @cheddarfox

feat(security): add mTLS certificate management for edge nodes [REN-121]
  core/api/v1/certs.py
  core/api/v1/router.py
  core/relay/tls.py
  edgekit/relay/tls.py
  tests/test_mtls.py
Owners: @cheddarfox

feat(frontend): scaffold Electron + React 18 + Vite + Tailwind app [REN-126]
  frontend/README.md
  frontend/electron/main.ts
  frontend/electron/preload.ts
  frontend/index.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/main.tsx
  frontend/src/pages/CreditsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Owners: @cheddarfox

feat(sdk): add Python SDK client with sync and async support [REN-129]
  sdk/python/README.md
  sdk/python/pyproject.toml
  sdk/python/rendertrust/__init__.py
  sdk/python/rendertrust/async_client.py
  sdk/python/rendertrust/client.py
  sdk/python/rendertrust/exceptions.py
  sdk/python/rendertrust/models.py
  sdk/python/tests/__init__.py
  sdk/python/tests/test_sdk.py
Owners: @cheddarfox

feat(docs): enable OpenAPI docs and export script [REN-130]
  core/main.py
  docs/api/openapi.json
  scripts/export-openapi.py
  tests/test_openapi.py
Owners: @cheddarfox, @cheddarfox/auggie, @cheddarfox/claude-code

feat(frontend): implement auth flow UI with JWT storage [REN-127]
  frontend/electron/main.ts
  frontend/electron/preload.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/electron.d.ts
  frontend/src/main.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/auth/RegisterPage.tsx
  frontend/src/vite-env.d.ts
Owners: @cheddarfox

feat(frontend): implement job submission and status UI [REN-128]
  frontend/src/App.tsx
  frontend/src/hooks/useJobs.ts
  frontend/src/lib/jobs.ts
  frontend/src/pages/JobsPage.tsx
  frontend/src/pages/jobs/JobDetailPage.tsx
  frontend/src/pages/jobs/JobListPage.tsx
  frontend/src/pages/jobs/SubmitJobPage.tsx
  frontend/src/pages/jobs/index.ts
Owners: @cheddarfox

feat(frontend): implement credit dashboard with balance and history [REN-135]
  frontend/src/components/credits/CreditPackages.tsx
  frontend/src/components/credits/TransactionTable.tsx
  frontend/src/components/credits/UsageChart.tsx
  frontend/src/hooks/useCredits.ts
  frontend/src/pages/CreditsPage.tsx
Owners: @cheddarfox

feat(community): add community portal MVP with operator leaderboard [REN-133]
  community/.env.example
  community/.eslintrc.json
  community/.gitignore
  community/README.md
  community/app/globals.css
  community/app/layout.tsx
  community/app/page.tsx
  community/components/footer.tsx
  community/components/hero.tsx
  community/components/leaderboard-table.tsx
  community/components/network-stats.tsx
  community/components/stat-card.tsx
  community/lib/api.ts
  community/lib/mock-data.ts
  community/lib/types.ts
  community/next.config.js
  community/package.json
  community/postcss.config.js
  community/tailwind.config.ts
  community/tsconfig.json
Owners: @cheddarfox

feat(ledger): add blockchain anchoring service with Merkle tree [REN-131]
  core/billing/migrations/20240601_anchor_records.sql
  core/ledger/anchor/__init__.py
  core/ledger/anchor/bundler_task.py
  core/ledger/anchor/chain.py
  core/ledger/anchor/config.py
  core/ledger/anchor/merkle.py
  core/ledger/anchor/models.py
  core/ledger/anchor/service.py
  tests/test_anchoring.py
Owners: @cheddarfox

feat(api): add proof verification and anchor listing endpoints [REN-132]
  core/api/v1/ledger.py
  core/api/v1/router.py
  core/ledger/anchor/__init__.py
  core/ledger/anchor/chain.py
  tests/conftest.py
  tests/test_proof_api.py
Owners: @cheddarfox

docs: add CHANGELOG for v1.0.0-alpha release [REN-23]
  CHANGELOG.md
Owners: @cheddarfox

docs: add comprehensive system documentation for Confluence [REN-23]
  docs/confluence/00-system-documentation-home.md
  docs/confluence/01-architecture-overview.md
  docs/confluence/02-core-platform.md
  docs/confluence/03-authentication-security.md
  docs/confluence/04-credit-billing.md
  docs/confluence/05-scheduler-dispatch.md
  docs/confluence/06-edge-node-system.md
  docs/confluence/07-object-storage.md
  docs/confluence/08-blockchain-anchoring.md
  docs/confluence/09-infrastructure-deployment.md
  docs/confluence/10-api-reference.md
  docs/confluence/11-user-guide-creator.md
  docs/confluence/12-user-guide-node-operator.md
  docs/confluence/13-user-guide-administrator.md
  docs/confluence/14-user-guide-developer.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

docs: rewrite README.md to document v1.0.0-alpha system [REN-140]
  README.md
Owners: @cheddarfox

fix: resolve lint and mypy CI failures [REN-140]
  core/api/v1/health.py
  core/api/v1/ledger.py
  core/config.py
  core/relay/manager.py
  core/relay/protocol.py
  core/relay/server.py
  core/relay/tls.py
  pyproject.toml
  sdk/python/templates/module_boilerplate/agent.py
  tests/integration/test_storage_integration.py
  tests/test_storage_service.py
Owners: @cheddarfox

.github/CODEOWNERS:

# RenderTrust CODEOWNERS File
#
# This file designates code ownership for the RenderTrust repository.
# 
# Historical Note: This repository was originally mis-integrated with the WTFB-app repository
# and was migrated on May 17, 2025. See docs/adr/001-repository-alignment.md for details.

# Default owners for everything in the repo
*       @cheddarfox

# Infrastructure components
/infrastructure/    @cheddarfox/auggie

# Core engine
/src/engine/        @cheddarfox/auggie @cheddarfox/claude-code

# Frontend components
/src/ui/            @cheddarfox/claude-code

# Documentation
/docs/              @cheddarfox/auggie @cheddarfox/claude-code
