Repository ByBren-LLC/rendertrust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cheddarfox, @cheddarfox/auggie, @cheddarfox/claude-code

.github/CODEOWNERS:

# RenderTrust CODEOWNERS File
#
# This file designates code ownership for the RenderTrust repository.
# 
# Historical Note: This repository was originally mis-integrated with the WTFB-app repository
# and was migrated on May 17, 2025. See docs/adr/001-repository-alignment.md for details.

# Default owners for everything in the repo
*       @cheddarfox

# Infrastructure components
/infrastructure/    @cheddarfox/auggie

# Core engine
/src/engine/        @cheddarfox/auggie @cheddarfox/claude-code

# Frontend components
/src/ui/            @cheddarfox/claude-code

# Documentation
/docs/              @cheddarfox/auggie @cheddarfox/claude-code

feat(infra): add project foundation — pyproject.toml, Docker, Makefile, Alembic [REN-61]
  .env.template
  Dockerfile
  Makefile
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/.gitkeep
  docker-compose.yml
  pyproject.toml
Owners: @cheddarfox

fix(types): remove unused type-ignore on redis from_url [REN-61]
  core/api/v1/health.py
Owners: @cheddarfox

fix(security): address QAS and SecEng findings [REN-61]
  core/api/v1/health.py
  core/auth/jwt.py
  docker-compose.yml
Owners: @cheddarfox

fix(ci): apply ruff format and fix pip-audit install mode [REN-61]
  .github/workflows/security.yml
  core/auth/middleware.py
  core/billing/invoice/cron_monthly.py
  core/billing/invoice/invoice_builder.py
  core/billing/stripe/stripe_webhook.py
  core/billing/tests/test_webhook.py
  core/billing/webhook.py
  core/gateway/web/ui/routes/fleet.py
  core/ledger/vault/token_rotator.py
  edgekit/poller/core/fleet_gateway.py
  edgekit/workers/cpu_support/scheduler/cpu_filter.py
  edgekit/workers/cpu_support/tests/test_cpu_dispatch.py
  loadtest/mock_edge/relay_stub.py
  rollup_anchor/bundler.py
  sdk/python/templates/module_boilerplate/agent.py
Owners: @cheddarfox

feat(core): bootstrap FastAPI gateway with auth, models, and tests [REN-61]
  core/__init__.py
  core/api/__init__.py
  core/api/v1/__init__.py
  core/api/v1/health.py
  core/api/v1/router.py
  core/auth/__init__.py
  core/auth/jwt.py
  core/auth/middleware.py
  core/config.py
  core/database.py
  core/main.py
  core/models/__init__.py
  core/models/base.py
  tests/__init__.py
  tests/conftest.py
  tests/test_health.py
Owners: @cheddarfox

docs: add strategic roadmap PDFs for PI Planning [REN-61]
  docs/assets/RenderTrust Roadmap_ Phase I – Phase III.pdf
  docs/assets/Rendertrust Roadmap V2.pdf
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

docs(specs): add Phase I implementation specs [REN-61]
  specs/REN-22-edge-node-scheduler-v1.md
  specs/REN-26-ci-cd-pipeline.md
  specs/REN-47-credit-ledger-integration.md
  specs/REN-61-core-platform-bootstrap.md
Owners: @cheddarfox

feat(ci): add GitHub Actions CI/CD pipeline and PR template [REN-61]
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security.yml
  .gitignore
  ci/rendertrust-build.yml
Owners: @cheddarfox

fix(lint): auto-fix ruff errors in pre-existing code [REN-61]
  core/auth/middleware.py
  core/billing/invoice/cron_monthly.py
  core/billing/invoice/invoice_builder.py
  core/billing/stripe/ledger/credit.py
  core/billing/stripe/stripe_webhook.py
  core/billing/tests/test_webhook.py
  core/billing/webhook.py
  core/config.py
  core/gateway/web/ui/routes/fleet.py
  core/ledger/vault/token_rotator.py
  edgekit/poller/core/fleet_gateway.py
  edgekit/workers/cpu_support/tests/test_cpu_dispatch.py
  loadtest/mock_edge/relay_stub.py
  rollup_anchor/bundler.py
  sdk/python/templates/module_boilerplate/agent.py
Owners: @cheddarfox

fix(ci): resolve lint, type-check, and security workflow failures [REN-61]
  .github/workflows/security.yml
  alembic/env.py
  core/api/v1/health.py
  core/auth/jwt.py
  pyproject.toml
Owners: @cheddarfox

fix(ci): handle no integration tests and ignore ecdsa CVE [REN-61]
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @cheddarfox

feat(db): add baseline Alembic migration for users and projects [REN-86]
  alembic/versions/0001_baseline_users_projects.py
Owners: @cheddarfox

docs(spike): JWT library standardization analysis [REN-64]
  docs/spikes/jwt-library-standardization.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

docs(audit): legacy billing code migration analysis [REN-87]
  docs/audits/legacy-billing-migration-audit.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

fix(security): add JWT auth to fleet endpoint [REN-67]
  core/gateway/web/ui/routes/fleet.py
Owners: @cheddarfox

fix(security): harden Stripe webhook signature verification [REN-69]
  core/billing/stripe/stripe_webhook.py
Owners: @cheddarfox

test: enhance conftest with async DB fixtures and auth helpers [REN-81]
  docs/agent-outputs/qa-validations/REN-81-qa-validation.md
  tests/conftest.py
Owners: @cheddarfox/auggie, @cheddarfox/claude-code, @cheddarfox

fix(lint): move type-only imports to TYPE_CHECKING block [REN-67]
  core/gateway/web/ui/routes/fleet.py
Owners: @cheddarfox

fix: add aiosqlite dep, savepoint isolation, and ruff fixes [REN-81]
  pyproject.toml
  tests/conftest.py
Owners: @cheddarfox

fix(spike): correct python-jose usage analysis per QAS review [REN-64]
  docs/spikes/jwt-library-standardization.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

fix(audit): correct infrastructure status per QAS review [REN-87]
  docs/audits/legacy-billing-migration-audit.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

feat(db): add baseline Alembic migration for users and projects [REN-86]
  alembic/versions/0001_baseline_users_projects.py
Owners: @cheddarfox

fix: add aiosqlite dep, savepoint isolation, and ruff fixes [REN-81]
  pyproject.toml
  tests/conftest.py
Owners: @cheddarfox

test: enhance conftest with async DB fixtures and auth helpers [REN-81]
  docs/agent-outputs/qa-validations/REN-81-qa-validation.md
  tests/conftest.py
Owners: @cheddarfox/auggie, @cheddarfox/claude-code, @cheddarfox

fix(lint): move type-only imports to TYPE_CHECKING block [REN-67]
  core/gateway/web/ui/routes/fleet.py
Owners: @cheddarfox

fix(security): add JWT auth to fleet endpoint [REN-67]
  core/gateway/web/ui/routes/fleet.py
Owners: @cheddarfox

fix(security): harden Stripe webhook signature verification [REN-69]
  core/billing/stripe/stripe_webhook.py
Owners: @cheddarfox

docs(spike): JWT library standardization analysis [REN-64]
  docs/spikes/jwt-library-standardization.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

fix(spike): correct python-jose usage analysis per QAS review [REN-64]
  docs/spikes/jwt-library-standardization.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

docs(audit): legacy billing code migration analysis [REN-87]
  docs/audits/legacy-billing-migration-audit.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

fix(audit): correct infrastructure status per QAS review [REN-87]
  docs/audits/legacy-billing-migration-audit.md
Owners: @cheddarfox/auggie, @cheddarfox/claude-code

fix(lint): sort imports in stripe webhook [REN-69]
  core/billing/stripe/stripe_webhook.py
Owners: @cheddarfox

fix(security): migrate legacy files from PyJWT to python-jose [REN-66]
  core/ledger/vault/token_rotator.py
  edgekit/poller/core/fleet_gateway.py
Owners: @cheddarfox

feat(db): add CreditLedgerEntry model and migration [REN-75]
  alembic/versions/0002_add_credit_ledger_entries.py
  core/models/__init__.py
  core/models/base.py
Owners: @cheddarfox

fix(security): wrap raw SQL with text() in billing modules [REN-68]
  core/billing/invoice/cron_monthly.py
  core/billing/invoice/invoice_builder.py
  core/billing/stripe/ledger/credit.py
  core/billing/webhook.py
Owners: @cheddarfox

fix(security): restrict CORS and add security response headers [REN-74]
  core/config.py
  core/main.py
Owners: @cheddarfox

feat(security): add Redis-backed rate limiting for auth endpoints [REN-70]
  core/auth/rate_limit.py
  tests/test_rate_limit.py
Owners: @cheddarfox

test(auth): add JWT lifecycle integration tests [REN-82]
  tests/integration/test_auth.py
Owners: @cheddarfox

fix(security): migrate legacy files from PyJWT to python-jose [REN-66]
  core/ledger/vault/token_rotator.py
  edgekit/poller/core/fleet_gateway.py
Owners: @cheddarfox

feat(db): add CreditLedgerEntry model and migration [REN-75]
  alembic/versions/0002_add_credit_ledger_entries.py
  core/models/__init__.py
  core/models/base.py
Owners: @cheddarfox
